* {
	margin: 0;
}

body {
	background-color: #58D68D;
  max-width: 100%;
  overflow-x: hidden;
}

.deck {
	margin-top: 2%;
	border-radius: 1em;
	justify-content: center;
	text-align: center;
	color:white;
}

#deck {
	width: 100%;
}

.card {
	width: 6.4em;
	height: 8.85em;
	padding-top: .25em;
	padding-left: .1em;
	border: solid 1px #695d39;
	background-color: #fff;
	font-family: 'Times', serif;
	line-height: 8em;
	display: inline-block;
	justify-content: center;
	border-radius: .5em;
	letter-spacing: .2em;
	font-size: 1.5em;
	text-align: center;
	color:black;
	margin: .15em;
}


h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: Garamond, serif;
	margin-bottom: 3%;
}

.btn {
	width: 25%;
	color: black;
	background: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px;
	display:inline-block;
	text-decoration: none;
	font-family: Garamond, serif;
}

.btn:active {
	vertical-align: top;
  padding: 10px 15px 8px;
}

/* media queries */
@media only screen and (min-width: 414px) and (max-width: 767px) {
	.card {
		width: 9em;
		height: 12em;
	}

	.btn {
		width: 80%;
		font-size: 2em;
		align-content: center;
		text-align: center;
	}
}
