* {
	margin: 0;
}

body {
	background-color: #58D68D;
  max-width: 100%;
  overflow-x: hidden;
}

.deck {
	width: 100%;


	padding: 10px;
	border-radius: 1em;
	justify-content: center;
	text-align: center;
	color:white;
}

.card {
	width: 6.4em;
	height: 8.85em;
	padding-top: .25em;
	padding-left: .1em;
	border: solid 1px #695d39;
	background-color: #fff;
	font-family: 'Times', serif;
	line-height: 8em;
	display: inline-block;
	justify-content: center;
	border-radius: .5em;
	letter-spacing: .2em;
	font-size: 1.5em;
	text-align: center;
	color:black;
	margin: .15em;
}


h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: Garamond, serif;
	margin-bottom: 3%;
}

.btn {
	color: black;
	background: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px;
	display:inline-block;
	text-decoration: none;
}

/* media queries */
@media screen and (max-width: 896px) {
	.card {
		width: 12.8em;
		height: 17.7em;
	}
}
